* {
  font-family: "Outrun future";
}
h1 {
  color: white;
  background-color: black;
  padding-left: 50px;
}
.form-style-8{
  width: 500px;
  padding: 30px;
  background: #acacac;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
  background: #2e2e2e;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px "Outrun future";
  height: 45px;
}
.form-style-8 textarea{
  resize:none;
  overflow: hidden;
}
.form-style-8 input[type="reset"],
.form-style-8 input[type="submit"]{
  -moz-box-shadow: inset 0px 1px 0px 0px #2e2e2e;
  -webkit-box-shadow: inset 0px 1px 0px 0px #2e2e2e;
  box-shadow: inset 0px 1px 0px 0px #2e2e2e;
  background-color: #2e2e2e;
  border: 1px solid #2e2e2e;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.form-style-8 input[type="reset"]:hover,
.form-style-8 input[type="submit"]:hover {
  background: #2e2e2e linear-gradient(to bottom, #2e2e2e 5%, #2e2e2e 100%);
}
.form-style-8 input[type="reset"]{
  float: right;
}
input[type="email"], input[type="password"]{
  font-family: kindergarten !important;
  font-weight: bold !important;
  font-size: 1.2em !important;
}
span{
  color: red;
}
.error{
  display: inline-block;
}
