<div class="modal-mask" #toggleButton>
  <div class="modal-wrapper" #menu>
    <div class="modal-container">
      <div>
        <h1>Inscription</h1>
      </div>
      <form [formGroup]="inscriptionForm" (ngSubmit)="inscription()">
        <div class="form-group">
          <label>Pseudo</label>
          <input type="text" class="form-control" formControlName="pseudo" required="required">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" required="required">
        </div>
        <div class="form-group">
          <label>Age</label>
          <input type="number" min="18" max="99" class="form-control" formControlName="age" required="required">
        </div>
        <div class="form-group">
          <label>Ville</label>
          <input type="text" class="form-control" formControlName="ville" required="required">
        </div>
        <div class="form-group">
          <label>Sexe</label>
          <select name="sexe" formControlName="sexe" required="required">
            <option>Homme</option>
            <option>Femme</option>
            <option>Réponse D</option>
          </select>
        </div>
        <div class="form-group">
          <label>Adresse mail</label>
          <input type="email" class="form-control" formControlName="email" required="required">
        </div>
        <button type="submit" class="btn btn-primary">OK</button>
        <button type="reset" class="btn btn-primary" (click)="resetUserForm()">Reset</button>
      </form>
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>
