* {
  font-family: "Outrun future";
  padding-left: 5px;
}
h1 {
   color: white;
   background-color: black;
   padding-left: 50px;
 }
img{
  height: 83px;
  vertical-align: middle;
}
.container {
  width: 80%;
  background-color: #666666;
  margin: auto;

}

.profil{
  display: flex;
  justify-content: space-evenly;
  margin: 0 2vw;
}

.a_propos {
  min-width: 50%;
  height: 100%;

  float: left;
}
