<h1><img src="https://cdn.discordapp.com/attachments/655048921055232041/679268715711430656/coeur-png-dessin-3.png">️
  Gestion du profil️</h1>
<div class="container">
  <div class="profil">
    <div class="a_propos">
      <h2>A propos de vous</h2>
      Pseudonyme : {{geek.pseudo}}
      <br>
      Sexe : {{geek.sexe}}
      <br>
      Ville : {{geek.ville}}
      <br>
      Age : {{geek.age}}
      <br>
      Type de Compte :
      {{geek.typeCompte}}
      <br>
      Ma life :
      <br>
      {{geek.description}}
    </div>
    <app-upload></app-upload>
  </div>
</div>
