@font-face {
  font-family: "Outrun future";
  src: url('../_police/Outrun-future.ttf');
}

@font-face {
  font-family: "Outrun future";
  src: url('../_police/Outrun future.eot');
}

body {
  background: #191919;
}

.bubble-text {
  background: #666666;
  color: #fff;
  padding: 7px 15px;
  border-radius: 3px;
  width: 350px;
  margin-left: 10px;
}

.bubble-text::after {
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #666666;
  position: absolute;
}

p {
  font-style: oblique;
}

h3,
h4 {
  font-family: Outrun future;
  margin-left: 10px;
}

.write {
  display: flex;
}

.bubble-text2 {
  background: #bf0103;
  color: #fff;
  padding: 7px 15px;
  border-radius: 3px;
  width: 250px;
  margin-left: 10px;
}

.bubble-text2::after {
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #bf0103;
  position: absolute;
}

textarea {
  border: none;
  border-radius: 1%;
}

button {
  background-color: transparent;
  font-family: Outrun future;
  color: white;
  border: none;
  cursor: pointer;
}
.emetteur {
  text-align: right;
  color: black;
}
