<div class="write">
	<div>
		<div *ngFor="let mp of mps | async">
			<div class="bubble-text" *ngIf="mp">
				<p>{{mp[1]}}</p>
				{{mp[0] | date: 'dd/MM/yyyy'}} :
				"{{mp[2]}}"
			</div>
		</div>
	</div>
	<div>
		<div class="bubble-text2" [hidden]="submitted">
			<h3>Ecrire un message</h3>
			<form (ngSubmit)="onSubmit()">
				<div>
					<label for="message"></label>
					<textarea rows="5" cols="30" #message id="message" required name="message"></textarea>
				</div>
				<button (click)="saveMp(action.geekAction, action.geekCible, message.value)"
					type="submit">Envoyer</button>
			</form>
		</div>
		<div [hidden]="!submitted">
			<h4>Votre message a été envoyé !</h4>
		</div>
	</div>
</div>