* {
  font-family: Outrun future;
}

img {
  max-height: 300px;
  max-width: 300px;
}

.cadre {
  margin-left: 10px;
  background-color: #333333;
  color: #dddddd;
  padding: 25px;
  width:auto;
  border-width: 3px 5px 5px 5px;
  box-shadow: 8px 5px 5px #454545;
  border-radius:4%;
  float:left;
  position: relative;
  top: 30%; left: 5%;
  flex-direction: column;
  justify-content:center;
  margin-top: 10px;
  border: black 2px solid;


}
.cadre button {

}

h1 {

  color: white;
  background-color: black;
  padding-left: 50px;
}

.bouton {
  background: transparent;
  margin: 1px ;
  font-size: 25px;
  align-content: center;
}
button {
  border-width: 0px;
  outline: none;
}
/*
.like {
  margin: 0px auto;
  width: 100px;
} */
