@font-face {
    font-family: "outrunfuture";
    src: url('/Dafont/Outrun future.eot') format('eot'),
         url('/Dafont/Outrun future.otf') format('otf'),
         url('/Dafont/Outrun-future.ttf') format('ttf'),
}

p{
    font-family: "outrunfuture";
}