<h1>L❤️VE ton GEEK&nbsp;&nbsp;&nbsp;&nbsp;#YaourtAuxFruits</h1>
<div class="like">
	<tr *ngFor="let geek of geeks | async, let index = index, let isFirst = first">
		<div *ngIf="geek.pseudo != geekPseudo">
			Pseudonyme : {{geek.pseudo}}
			<br>
			Sexe : {{geek.sexe}}
			<br>
			Ville : {{geek.ville}}
			<br>
			Age : {{geek.age}}
			<br>
			<p>
				<button (click)="superlike(geek, 'superlike')" class="bouton" type="submit">❤️</button>
				<button (click)="like(geek, 'like')" class="bouton" type="submit">💛</button>
				<button class="bouton" type="submit">❌</button>
			</p>

			<div *ngFor="let action of actions | async">
				<div *ngIf="geekId == action.geekCible.id && geek.id == action.geekAction.id">}
					<app-coopdispo [geekPseudo]="geek.pseudo" [geekId]="geek.id"></app-coopdispo>
				</div>
			</div>
		</div>
	</tr>
</div>
<!-- *ngIf="geek.pseudo != geekPseudo && isFirst === true" -->
<!-- && isFirst === true -->