<h1>L❤️ve ton GEEK&nbsp;&nbsp;&nbsp;&nbsp;#YaourtAuxFruits</h1>
<form>
	<div *ngIf="geekRecherche">
		<div *ngFor="let geekFiltre of geekRecherche">
			<div *ngIf="geekFiltre.pseudo != geekPseudo && !geekFiltre.coop[0]">
				<div class="cadre">
          <div class="photo" *ngIf="geekFiltre.photos[0]"><img src={{geekFiltre.photos[0].url}}></div>
					Pseudonyme : {{geekFiltre.pseudo}}
					<br>
					Sexe : {{geekFiltre.sexe}}
					<br>
					Ville : {{geekFiltre.ville}}
					<br>
					Age : {{geekFiltre.age}}
					<br>
					<p>
						<button (click)="superlike(geekFiltre, 'superlike')" class="bouton" type="submit">❤️</button>
						<button (click)="like(geekFiltre, 'like')" class="bouton" type="submit">💛</button>
						<button class="bouton" type="submit">❌</button>
					</p>
				</div>
				<div *ngFor="let action of actions | async">
					<div *ngIf="geekId == action.geekCible.id && geekFiltre.id == action.geekAction.id">
						<app-coopdispo [geek]="geekFiltre" [geekPseudo]="geekFiltre.pseudo" [geekId]="geekFiltre.id">
						</app-coopdispo>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="geekRecherche == ''">
		<div *ngFor="let geek of geeks| async">
			<div *ngIf="geek.pseudo != geekPseudo && !geek.coop[0]">
				<div class="cadre">
          <div class="photo" *ngIf="geek.photos[0]"><img src={{geek.photos[0].url}}></div>
					Pseudonyme : {{geek.pseudo}}
					<br>
					Sexe : {{geek.sexe}}
					<br>
					Ville : {{geek.ville}}
					<br>
					Age : {{geek.age}}
					<br>
					<p>
						<button (click)="superlike(geek, 'superlike')" class="bouton" type="submit">❤️</button>
						<button (click)="like(geek, 'like')" class="bouton" type="submit">💛</button>
						<button class="bouton" type="submit">❌</button>
					</p>
					<div *ngFor="let action of actions | async">
						<div *ngIf="geekId == action.geekCible.id && geek.id == action.geekAction.id">
							<app-coopdispo [geek]="geek" [geekPseudo]="geek.pseudo" [geekId]="geek.id">
							</app-coopdispo>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
