<div *ngIf="shouldShow()">
  <img src="https://media.discordapp.net/attachments/655048921055232041/669179360812597258/logo2.png" alt="">
  <ul>
    <li><a routerLink="profil">Profil</a></li>
    <li><a routerLink="like">Like</a></li>
    <li><a routerLink="message">Message</a></li>
    <li><a routerLink="recherche">Recherche</a></li>
    <li><a routerLink="event">Events</a></li>
    <li><img src="https://image.flaticon.com/icons/svg/565/565503.svg" (click)="onSignOut() " style="cursor:pointer"></li>
  </ul>
  <p *ngIf="isAuth" class="pseudo">Vous êtes connecté en tant que {{pseudo()}} !</p>
</div>
