<div *ngIf="shouldShow()">
  <img routerLink="profil"
    src="https://media.discordapp.net/attachments/655048921055232041/669179360812597258/logo2.png" alt="">
  <ul>
    <li><a routerLink="profil">Profil</a></li>
    <li><a routerLink="like">Like</a></li>
    <li><a routerLink="message">Message</a></li>
    <li><a routerLink="recherche">Recherche</a></li>
    <li><a routerLink="event">Events</a></li>
    <li *ngFor="let geek of geeks | async">
      <p>{{geek.pseudo}}</p>
    </li>
    <li><a (click)="onSignOut() " style="cursor:pointer" *ngIf="isAuth">Déconnexion</a>
    </li>
  </ul>
</div>