<body [hidden]="isShow">
	<div class="modal-mask">
		<div class="modal-wrapper">
			<div class="modal-container">
				<div class="close" (click)="closePopIn()">X</div>
				<div>
					<h1>Connexion</h1>
				</div>
				<form (ngSubmit)="f.form.valid && login()" f="ngForm" novalidate>
					<div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
						<label for="name">Nom d'utilisateur :</label>
						<input ngModel="model.username" username="ngModel" type="text" name="name" id="name"
							required>
					</div>
					<div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
						<label for="passsword">Mot de passe :</label>
						<input ngModel="model.password" password="ngModel" type="password" name="password"
							id="password" required>
					</div>
					<div class="button">
						<input [disabled]="!f.form.valid" routerLink="profil" type="submit" value="Start">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>