<body [hidden]="isShow">
	<div class="modal-mask">
		<div class="modal-wrapper">
			<div class="modal-container">
				<div class="close" (click)="closePopIn()">X</div>
				<div>
					<h1>Connexion</h1>
				</div>
				<form>
					<div>
						<label for="name">Nom d'utilisateur :</label>
						<input type="text" name="name" id="name" required>
					</div>
					<div>
						<label for="passsword">Mot de passe :</label>
						<input type="password" name="password" id="password" required>
					</div>
					<div class="button">
						<input routerLink="profil" type="submit" value="Start">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>