<div class="modal-mask" >
  <div class="modal-wrapper" >
    <div class="modal-container">
      <div class="form-style-8">
        <h2>T'cherche kô?</h2>
        <form [formGroup]="rechercheForm" (ngSubmit)="onSubmit()">
          <label>Sexe : </label>
          <select name="sexe" formControlName="sexe" required="required">
            <option>Homme</option>
            <option>Femme</option>
            <option>Petite Surprise</option>
          </select>
          <label>Ville : </label>
          <input type="text" formControlName="ville" placeholder="Montpellier..."/>
          <label>Age Minimum : </label>
          <input type="number" min="18" max="99" formControlName="ageMin" placeholder="18 ... 99"/>
          <label>Age maximum : </label>

          <input type="number" min="18" max="99" formControlName="ageMax" placeholder="18 ...99"/>

          <label>Jeu : </label>
          <input type="text" formControlName="jeu" placeholder="Dofus..."/>

          <input type="submit" value="Ché ok pour mi"/>
        </form>
      </div>
    </div>
  </div>
</div>
