img {
  height: auto;
  width: 200px;
  margin-top: 3vh;
}

.galerie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 0;
}

.delete {
  color: red;
  cursor: pointer;
}

button {
  -moz-box-shadow: inset 0px 1px 0px 0px #2e2e2e;
  -webkit-box-shadow: inset 0px 1px 0px 0px #2e2e2e;
  box-shadow: inset 0px 1px 0px 0px #2e2e2e;
  background-color: #2e2e2e;
  border: 1px solid #2e2e2e;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: "outrun future";
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 1vh;
}

.label-file {
  cursor: pointer;
  font-weight: bold;
}

.label-file:hover {
  color: red;
}

.input-file {
  display: none;
}
.upload {
  width: 100%;
  text-align: center;
}
